<mat-toolbar color="primary">
  <header bp="container flex">
    <h1>ng-image-search</h1>
    <span bp="fill"></span>
    <small bp="hide show@md">An image search app written in Angular. Powered by Flickr.</small>
  </header>
</mat-toolbar>

<div bp="padding">
  <main bp="container">
    <router-outlet *ngIf="!(showNetworkError | async); else networkError"></router-outlet>
  </main>
</div>

<ng-template #networkError>
  <mat-card>
    <mat-card-title>
      An error occurred.
    </mat-card-title>
    <mat-card-content>
      Something went wrong. Please try again.
    </mat-card-content>
    <button mat-raised-button color="primary" type="button" (click)="tryAgain()">Try again</button>
  </mat-card>
</ng-template>
